Repository Hetic-web3-g1/PROJET_FIL_ROUGE_W3_G4, pull requests merged in 2023-06, with the labels that each got.

#6 Checkbox component
  frontend/src/components/checkbox/Checkbox.jsx
  frontend/src/components/checkbox/Checkbox.mdx
  frontend/src/components/checkbox/Checkbox.stories.js
  frontend/src/components/checkbox/checkbox.css
  package-lock.json
Labels: Task completed, Wait review

#7 Component Video player
  frontend/package-lock.json
  frontend/src/assets/peppa pig wow.mp4
  frontend/src/assets/videoPlayer/Forward/Forward.svg
  frontend/src/assets/videoPlayer/FullScreen/FullScreen.svg
  frontend/src/assets/videoPlayer/Pause/Pause.svg
  frontend/src/assets/videoPlayer/Play/Play.svg
  frontend/src/assets/videoPlayer/Rewind/Rewind.svg
  frontend/src/assets/videoPlayer/Volume/Volume.svg
  frontend/src/components/videoPlayer/VideoPlayer.css
  frontend/src/components/videoPlayer/VideoPlayer.jsx
  frontend/src/components/videoPlayer/VideoPlayer.stories.js
  frontend/src/components/videoPlayer/useVideoPlayer.js
Labels: Work in progress

#9 Card Instrument Component
  frontend/src/assets/cardInstrument/Celio.svg
  frontend/src/assets/cardInstrument/ChamberMusic.svg
  frontend/src/assets/cardInstrument/Clarinet.svg
  frontend/src/assets/cardInstrument/Flute.svg
  frontend/src/assets/cardInstrument/L-celio.svg
  frontend/src/assets/cardInstrument/L-chamberMusic.svg
  frontend/src/assets/cardInstrument/L-clarinet.svg
  frontend/src/assets/cardInstrument/L-flute.svg
  frontend/src/assets/cardInstrument/L-oboe.svg
  frontend/src/assets/cardInstrument/L-other.svg
  frontend/src/assets/cardInstrument/L-piano.svg
  frontend/src/assets/cardInstrument/L-trombone.svg
  frontend/src/assets/cardInstrument/L-viola.svg
  frontend/src/assets/cardInstrument/L-violin.svg
  frontend/src/assets/cardInstrument/L-voice.svg
  frontend/src/assets/cardInstrument/Oboe.svg
  frontend/src/assets/cardInstrument/Other.svg
  frontend/src/assets/cardInstrument/Piano.svg
  frontend/src/assets/cardInstrument/Trombone.svg
  frontend/src/assets/cardInstrument/Viola.svg
  frontend/src/assets/cardInstrument/Violin.svg
  frontend/src/assets/cardInstrument/Voice.svg
  frontend/src/components/cardInstrument/CardInstrument.jsx
  frontend/src/components/cardInstrument/CardInstrument.mdx
  frontend/src/components/cardInstrument/CardInstrument.stories.js
  frontend/src/components/cardInstrument/cardInstrument.css
Labels: Task completed, Wait review, Front

#14 Avatar Component
  frontend/src/assets/linkPlaceholder.png
  frontend/src/components/avatar/Avatar.jsx
  frontend/src/components/avatar/Avatar.mdx
  frontend/src/components/avatar/Avatar.stories.js
  frontend/src/components/avatar/avatar.css
  frontend/src/components/cardInstrument/CardInstrument.jsx
Labels: Task completed, Wait review, Front

#15 Component field
  frontend/src/assets/search/search.svg
  frontend/src/components/field/Field.jsx
  frontend/src/components/field/Field.stories.js
  frontend/src/components/field/field.css
  frontend/src/components/label/Label.css
Labels: Task completed, Wait review, Front

#13 Modal Component
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.jsx
  frontend/src/components/Modal/Modal.stories.js
  frontend/src/components/Modal/modalMasterclass/ModalMasterclass.jsx
  frontend/src/components/Modal/modalMasterclass/ModalMasterclass.stories.js
  frontend/src/components/Modal/modalMasterclass/modalMasterclass.css
  frontend/src/components/button/Button.jsx
  frontend/src/components/button/button.css
  frontend/src/components/cardInstrument/CardInstrument.jsx
  frontend/src/components/cardInstrument/cardInstrument.css
  frontend/src/components/field/Field.jsx
  frontend/src/components/field/field.css
  frontend/src/components/masterCard/MasterCard.css
  frontend/src/components/masterCard/MasterCard.jsx
  frontend/src/components/upload/UploadCard.jsx
  frontend/src/components/upload/UploadCard.stories.js
  frontend/src/components/upload/uploadCard.css
  frontend/src/constants/instruments.js
Labels: Work in progress, Front

#22 Dropdown component
  frontend/src/assets/dropdown/Chevron.svg
  frontend/src/components/dropdown/Dropdown.css
  frontend/src/components/dropdown/Dropdown.jsx
  frontend/src/components/dropdown/Dropdown.mdx
  frontend/src/components/dropdown/Dropdown.stories.js
Labels: Task completed, Wait review, Front

#24 Fix instrument card component
  frontend/src/assets/cardInstrument/Celio.svg
  frontend/src/assets/cardInstrument/ChamberMusic.svg
  frontend/src/assets/cardInstrument/Clarinet.svg
  frontend/src/assets/cardInstrument/Flute.svg
  frontend/src/assets/cardInstrument/L-celio.svg
  frontend/src/assets/cardInstrument/L-chamberMusic.svg
  frontend/src/assets/cardInstrument/L-clarinet.svg
  frontend/src/assets/cardInstrument/L-flute.svg
  frontend/src/assets/cardInstrument/L-oboe.svg
  frontend/src/assets/cardInstrument/L-other.svg
  frontend/src/assets/cardInstrument/L-piano.svg
  frontend/src/assets/cardInstrument/L-trombone.svg
  frontend/src/assets/cardInstrument/L-viola.svg
  frontend/src/assets/cardInstrument/L-violin.svg
  frontend/src/assets/cardInstrument/L-voice.svg
  frontend/src/assets/cardInstrument/Oboe.svg
  frontend/src/assets/cardInstrument/Other.svg
  frontend/src/assets/cardInstrument/Piano.svg
  frontend/src/assets/cardInstrument/Trombone.svg
  frontend/src/assets/cardInstrument/Viola.svg
  frontend/src/assets/cardInstrument/Violin.svg
  frontend/src/assets/cardInstrument/Voice.svg
  frontend/src/components/cardInstrument/CardInstrument.jsx
  frontend/src/components/cardInstrument/CardInstrument.stories.js
  frontend/src/components/cardInstrument/cardInstrument.css
Labels: Task completed, Wait review, Front

#23 Home page - header component
  frontend/src/App.css
  frontend/src/assets/header/create.svg
  frontend/src/components/avatar/avatar.css
  frontend/src/components/header/Header.jsx
  frontend/src/components/header/Header.stories.js
  frontend/src/components/header/header.css
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/home.css
Labels: Work in progress, Front
