Repository Hetic-web3-g1/PROJET_FIL_ROUGE_W3_G4, pull requests merged in 2023-07, with the labels that each got.

#26 Sidebar component
  frontend/src/assets/ours.jpg
  frontend/src/assets/sidebar/hide-sidebar.svg
  frontend/src/assets/sidebar/show-sidebar.svg
  frontend/src/components/avatar/Avatar.jsx
  frontend/src/components/checkbox/Checkbox.jsx
  frontend/src/components/dropdown/Dropdown.jsx
  frontend/src/components/sidebar/Sidebar.css
  frontend/src/components/sidebar/Sidebar.jsx
  frontend/src/components/sidebar/Sidebar.stories.js
Labels: Task completed, Wait review, Front

#35 Finish header + fix some code
  frontend/src/components/avatar/Avatar.jsx
  frontend/src/components/avatar/Avatar.mdx
  frontend/src/components/avatar/Avatar.stories.js
  frontend/src/components/avatar/avatar.css
  frontend/src/components/field/Field.jsx
  frontend/src/components/field/field.css
  frontend/src/components/header/header.css
Labels: Task completed, Wait review, Front

#36 persistent store + homepage + improvements
  .gitignore
  frontend/package.json
  frontend/src/components/header/header.css
  frontend/src/components/sidebar/Sidebar.css
  frontend/src/components/sidebar/Sidebar.jsx
  frontend/src/features/reducers/profile.js
  frontend/src/features/store/reduxExample.js
  frontend/src/features/store/store.js
  frontend/src/main.jsx
  frontend/src/mocks/masterCardMocks
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/home.css
  frontend/src/pages/landing/Landing.jsx
  frontend/src/pages/login/Login.jsx
  grafana/grafana.db
Labels: Task completed, Front

#38 Tabs component
  frontend/src/components/cardInstrument/CardInstrument.jsx
  frontend/src/components/header/Header.jsx
  frontend/src/components/tabs/Tabs.css
  frontend/src/components/tabs/Tabs.jsx
  frontend/src/components/tabs/Tabs.mdx
  frontend/src/components/tabs/Tabs.stories.js
Labels: Task completed, Wait review, Front

#37 Header create dropdown
  frontend/src/assets/header/circle-plus.svg
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.jsx
  frontend/src/components/header/Header.jsx
  frontend/src/components/header/header.css
  frontend/src/main.jsx
  frontend/src/pages/errorPage.jsx
Labels: Task completed, Front

#41 Masterclass page
  frontend/src/assets/status/done.svg
  frontend/src/assets/status/incomplete.svg
  frontend/src/components/header/header.css
  frontend/src/components/tabs/Tabs.css
  frontend/src/components/tabs/Tabs.jsx
  frontend/src/components/upload/uploadCard.css
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/mocks/masterCardMocks
  frontend/src/mocks/masterClassMocks.js
  frontend/src/pages/masterclass/Masterclass.css
  frontend/src/pages/masterclass/Masterclass.jsx
Labels: Work in progress, Front

#47 Build(api): Create route to get user info, all masterclass by user and action create get all, by id for biography and partition
  backend/main.py
  backend/src/biographies/exceptions.py
  backend/src/biographies/models.py
  backend/src/biographies/router.py
  backend/src/biographies/schemas.py
  backend/src/biographies/service.py
  backend/src/masterclasses/router.py
  backend/src/masterclasses/service.py
  backend/src/partitions/exceptions.py
  backend/src/partitions/models.py
  backend/src/partitions/router.py
  backend/src/partitions/schemas.py
  backend/src/partitions/service.py
  backend/src/users/router.py
  backend/src/users/service.py
Labels: Wait review, Back

#49 Add filter option for dropdown
  frontend/src/components/dropdown/Dropdown.jsx
  frontend/src/components/sidebar/Sidebar.css
  frontend/src/components/sidebar/Sidebar.jsx
  frontend/src/features/actions/filters.js
  frontend/src/features/actions/type.js
  frontend/src/features/reducers/filters.js
  frontend/src/features/store/store.js
  frontend/src/mocks/masterCardMocks
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/masterclass/Masterclass.jsx
Labels: Task completed, Wait review, Front

#39 Drag and drop upload
  frontend/src/components/upload/UploadCard.jsx
  frontend/src/components/upload/uploadCard.css
Labels: Task completed, Front

#50 user info + modal biography and masterclass backend connection
  frontend/src/components/Modal/modalMasterclass/ModalMasterclass.jsx
  frontend/src/components/Modal/modalMasterclass/modalMasterclass.css
  frontend/src/components/Modal/modalbioprof/Modalbioprof.jsx
  frontend/src/components/header/Header.jsx
  frontend/src/components/professorfields/Professorfields.jsx
  frontend/src/features/reducers/profile.js
Labels: Task completed, Wait review, Front

#56 Add preview for PDF and IMG + fix upload card
  frontend/package.json
  frontend/src/components/upload/UploadCard.jsx
  frontend/src/components/upload/uploadCard.css
  frontend/src/index.css
Labels: Task completed, Wait review, Front

#52 fix(back) rename variable added creation of fake variable and function to add user to masterclasss_groupe + logging with alembic
  backend/alembic/env.py
  backend/alembic/versions/6eee6ba2e907_add_log_table.py
  backend/alembic/versions/a2d344361f5d_delete_fk_reset_token.py
  backend/alembic/versions/ef905a5ecf6f_add_secondary_role_to_user_rename_.py
  backend/src/database/db_srv.py
  backend/src/entities/authentification/dependencies.py
  backend/src/entities/authentification/models.py
  backend/src/entities/masterclasses/models.py
  backend/src/entities/masterclasses/schemas.py
  backend/src/entities/masterclasses/service.py
  backend/src/entities/users/dependencies.py
  backend/src/entities/users/models.py
  backend/src/entities/users/router.py
  backend/src/entities/users/schemas.py
  backend/src/entities/users/service.py
  backend/src/utils/fake_data.py
  backend/src/utils/log/log_table.py
Labels: Task completed, Back

#53 Masterclass fetch + profile + store + plein de trucs flemme
  frontend/src/components/Modal/modalMasterclass/ModalMasterclass.jsx
  frontend/src/components/avatar/Avatar.jsx
  frontend/src/components/dashboard/DashboardVideo.jsx
  frontend/src/components/dashboard/dashboardvideo.css
  frontend/src/components/field/Field.jsx
  frontend/src/components/header/Header.jsx
  frontend/src/components/header/header.css
  frontend/src/components/label/Label.css
  frontend/src/components/masterCard/MasterCard.jsx
  frontend/src/components/upload/uploadCard.css
  frontend/src/components/videoPlayer/VideoPlayer.css
  frontend/src/constants/countries.js
  frontend/src/features/actions/academy.js
  frontend/src/features/actions/type.js
  frontend/src/features/reducers/academy.js
  frontend/src/features/reducers/profile.js
  frontend/src/features/store/store.js
  frontend/src/main.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/masterclass/Masterclass.jsx
  frontend/src/pages/profile/Profile.css
  frontend/src/pages/profile/Profile.jsx
Labels: Task completed, Wait review, Front

#62 Build(backend): Refacto des routes avec ajout de update/delete et update facker
  backend/src/database/db_srv.py
  backend/src/entities/academies/router.py
  backend/src/entities/academies/service.py
  backend/src/entities/biographies/router.py
  backend/src/entities/biographies/schemas.py
  backend/src/entities/biographies/service.py
  backend/src/entities/comments/service.py
  backend/src/entities/images/schemas.py
  backend/src/entities/masterclasses/exceptions.py
  backend/src/entities/masterclasses/router.py
  backend/src/entities/masterclasses/schemas.py
  backend/src/entities/masterclasses/service.py
  backend/src/entities/partitions/router.py
  backend/src/entities/partitions/schemas.py
  backend/src/entities/partitions/service.py
  backend/src/entities/subtitles/schemas.py
  backend/src/entities/users/router.py
  backend/src/entities/users/service.py
  backend/src/entities/videos/schemas.py
  backend/src/entities/work_analyses/router.py
  backend/src/entities/work_analyses/schemas.py
  backend/src/entities/work_analyses/service.py
  backend/src/utils/fake_data.py
  s3-config/credentials
Labels: Task completed, Back
